<div id="dependent-form-new" class="modal fade">
  <div class="modal-dialog modal-content">
    <div class="modal-header">
      <h3>Add New Dependent</h3>
      <%= link_to "", welcome_path, class: "btn-close" %>
    </div>
    <div class="modal-body">
      <div class="dep_errors" id="dep_errors">
        <%= render "layouts/errors", object: @dependent %>
      </div>
      <%= form_for @dependent, class:'user', url: dependents_path,remote: true do |f| %>
        <div class="form-group">
        <%= f.label 'dependent_name' %><br>
        <%= f.text_field :dependent_name, class:"form-control form-control-user" %>
        <%= f.hidden_field :last_modified_by, :value => Current.user.employee_name %>
        <%= f.hidden_field :created_by, :value => Current.user.employee_name %>
        <%= f.hidden_field :is_active, :value => 1 %>
        <%= f.hidden_field :employee_id, :value => Current.user.id %>
        <%= f.hidden_field :action_type_id, :value => 1 %>
        </div>
        <div class="form-group">
        <%= f.label 'relationship' %><br>
        <% if @dependent.relationship_id == 7%>
        <% rid = 6,7
          @rel = getRelationTypeSelect(rid)%>
          <%= f.select "relationship_id", options_from_collection_for_select(@rel, "id", "name"), class:"form-control form-control-user" %>
        <% else %>
          <% @rel = getRelationTypeSelect(@dependent.relationship_id)%>
          <%= f.select "relationship_id", options_from_collection_for_select(@rel, "id", "name"), class:"form-control form-control-user" %>
        <% end %>
        </div>
        <div class="form-group">
        <%= f.label 'Date of Birth' %><br>
        <%= f.date_field :dob, class:"form-control form-control-user" %>
        </div>

        <div class="form-group">
        <%= f.submit 'Submit', class: "btn btn-primary btn-user btnSub" %>
        <%= link_to "Cancel", welcome_path, class: "btn btn-primary btn-user btnSub" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
