<h3>Dependent Details</h3>
<table>
  <tr>
    <td>Dependent Limit: 6</td>
    <td><div class="actions-divider"></div></td>
    <td>Current Dependents: <%=Dependent.where("employee_id = ?", Current.user.id).count%></td>
  </tr>
  <tr><td>&nbsp;</td></tr>
</table>
<!---------------------------------------Parents Data Start -------------------------------------->
<% if Current.user.marital_status_id == 2 %>
  <div class="btn-group" id="toggle_dependent_editing">
    <button type="button" class="btn btn-info locked_active">Parents</button>
    <button type="button" class="btn btn-light unlocked_inactive">In-Laws</button>
  </div>
<% else %>
  <button type="button" class="btn btn-info locked_active">Parents</button>
<% end %>
<div class="card-deck">
  <%
  if Current.user.marital_status_id == 1
    @parents = Dependent.where(employee_id: Current.user.id, relationship_id: [1,2])
  else
    @parents = Dependent.where(employee_id: Current.user.id, relationship_id: [1,2])
  end
  %>
  <% if Dependent.exists?(employee_id: Current.user.id, relationship_id: [1,2]) %>
    <% @parents.each do |parent| %>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%=parent.relationship.name%></h5>
        <div class="table-content">
          <table class="table table-borded table-responsive table-striped " id="table-list">
            <thead class="table-dark">
              <tr><th>Name</th><th>Dob</th><th>Action</th></tr>
              </thead>
              <tbody>
              <tr>
                <td><%=parent.dependent_name%></td>
                <td><%=parent.dob%></td>
                <td>
                  <%= link_to edit_dependent_path(parent.id),remote: true do %>
                    <i class="glyphicon glyphicon-edit glyphicon-white"></i> Edit
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <% end %>
  <% else %>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Parents</h5>
        <div class="table-content">
          <%= link_to new_dependent_path,remote: true do %>
            <i class="glyphicon glyphicon-add glyphicon-white"></i> Add
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<!---------------------------------------Parents Data End -------------------------------------->
<!---------------------------------------Spouse Data Start -------------------------------------->
<%#=Current.user.marital_status_id%>
<% if Current.user.marital_status_id == 2%>
  <div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Wife</h5>
      <div class="table-content">
        <% if Dependent.exists?(employee_id: Current.user.id, relationship_id: 5) %>
          <% @spouses = Dependent.where("employee_id = ? and relationship_id = ?", Current.user.id, 5)%>
          <% @spouses.each do |spouse| %>
          <table class="table table-borded table-responsive table-striped " id="table-list">
            <thead class="table-dark">
              <tr><th>Name</th><th>Dob</th><th>Action</th></tr>
              </thead>
              <tbody>
              <tr>
                <td><%=spouse.dependent_name ? spouse.dependent_name : "N/A" %></td>
                <td><%=spouse.dob ? spouse.dob : "N/A"%></td>
                <td>
                  <%= link_to edit_dependent_path(spouse.id),remote: true do %>
                    <i class="glyphicon glyphicon-edit glyphicon-white"></i> Edit
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
          <% end %>
        <% else %>
          <%= link_to new_dependent_path,remote: true do %>
            <i class="glyphicon glyphicon-add glyphicon-white"></i> Add
          <% end %>
      <%end%>
      </div>
    </div>
  </div>
  </div>
<% end %>
<!---------------------------------------Spouse Data End -------------------------------------->
<!---------------------------------------kids Data Start -------------------------------------->
<div class="card-deck">
  <%
  if Current.user.marital_status_id == 2
    @kids = Dependent.where(employee_id: Current.user.id, relationship_id: [6,7])
  end
  %>
  <% if Dependent.exists?(employee_id: Current.user.id, relationship_id: [6,7]) %>
    <% @kids.each do |kid| %>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%=kid.relationship.name%></h5>
        <div class="table-content">
          <table class="table table-borded table-responsive table-striped " id="table-list">
            <thead class="table-dark">
              <tr><th>Name</th><th>Dob</th><th>Action</th></tr>
              </thead>
              <tbody>
              <tr>
                <td><%=kid.dependent_name%></td>
                <td><%=kid.dob%></td>
                <td>
                  <%= link_to edit_dependent_path(kid.id),remote: true do %>
                    <i class="glyphicon glyphicon-edit glyphicon-white"></i> Edit
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <% end %>
  <% else %>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Kids</h5>
        <div class="table-content">
          <%= link_to new_dependent_path,remote: true do %>
            <i class="glyphicon glyphicon-add glyphicon-white"></i> Add
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<!---------------------------------------kids Data End -------------------------------------->
