<h3>Dependent Details</h3>
<table>
  <tr>
    <td>Dependent Limit: 6</td>
    <td><div class="actions-divider"></div></td>
    <td>Current Dependents: <%=getdependentcount()%></td>
  </tr>
  <tr><td>&nbsp;</td></tr>
</table>
<!---------------------------------------Parents Data Start -------------------------------------->
<% if Current.user.marital_status_id == 2  %>
  <div class="btn-group" id="toggle_dependent_editing">
  <% if Current.user.parent_type == 1 %>
    <button type="button" class="btn btn-info locked_active">Parents</button>
    <button type="button" class="btn btn-light unlocked_inactive">In-Laws</button>
  <% else %>
    <button type="button" class="btn btn-light unlocked_inactive">Parents</button>
    <button type="button" class="btn btn-info locked_active">In-Laws</button>
  <% end %>
  </div>
<% else %>
  <button type="button" class="btn btn-info locked_active">Parents</button>
<% end %>
<div class="card-deck">
  <!---------------------------------------Father block Start -------------------------------------->
  <% #rid = Current.user.parent_type == 1 ?  1 : 3 %>
  <%
    if Current.user.parent_type == 1
      dfid = 1
      dmid = 2
    else
      dfid = 3
      dmid = 4
    end
  %>
  <div class="card card-dependent">
    <div class="card-body card-dependent">
      <h5 class="card-title"><%=getRelationType(dfid)%></h5>
      <div class="table-content">
        <%
        if dependentExistance(dfid) == true
          @parents = dependentDetails(dfid)
          @parents.each do |parent| %>
            <table class="table table-borded table-responsive table-striped " id="table-list">
              <thead class="table-dark">
                <tr><th>Name</th><th>Dob</th><th>Action</th></tr>
              </thead>
              <tbody>
                <tr><td><%=parent.dependent_name%></td><td><%=parent.dob%></td>
                  <td><%= link_to edit_dependent_path(parent.id),remote: true do %>Edit<% end %></td>
                </tr>
              </tbody>
            </table>
          <% end %>
        <% else %>
          <%= link_to new_dependent_path(rid: dfid),remote: true do %>
            <i class="glyphicon glyphicon-add glyphicon-white"></i> Add
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <!---------------------------------------Father block End -------------------------------------->
  <!---------------------------------------Mother block start -------------------------------------->
  <div class="card card-dependent">
    <div class="card-body card-dependent">
      <h5 class="card-title"><%=getRelationType(dmid)%></h5>
      <div class="table-content">
        <%
          if dependentExistance(dmid) == true
          @parents = dependentDetails(dmid)
          @parents.each do |parent| %>
            <table class="table table-borded table-responsive table-striped " id="table-list">
              <thead class="table-dark">
                <tr><th>Name</th><th>Dob</th><th>Action</th></tr>
              </thead>
              <tbody>
                <tr><td><%=parent.dependent_name%></td><td><%=parent.dob%></td>
                  <td><%= link_to edit_dependent_path(parent.id),remote: true do %>Edit<% end %></td>
                </tr>
              </tbody>
            </table>
          <% end %>
        <% else %>
          <%= link_to new_dependent_path(rid: dmid),remote: true do %>
            <i class="glyphicon glyphicon-add glyphicon-white"></i> Add
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <!---------------------------------------Mother block End -------------------------------------->
</div>

<script type="text/javascript">
$('#closeDailogParent').click(function(){
	$('#parent_switch_change').modal('hide');
});
$('#toggle_dependent_editing button').click(function(){
	if($(this).hasClass('locked_active') || $(this).hasClass('unlocked_inactive')){
    $('#parent_switch_modal').append('<%= j render partial: "parentswitch.html.erb" %>');
    $('#parent_switch_change').modal('show');
	}else{

	}
	/* reverse locking status */
	$('#toggle_dependent_editing button').eq(0).toggleClass('locked_inactive locked_active btn-info btn-light');
	$('#toggle_dependent_editing button').eq(1).toggleClass('unlocked_inactive unlocked_active btn-light btn-info');
});

</script>
