<h3>Dependent Details</h3>
<table>
  <tr>
    <td>Dependent Limit: 6</td>
    <td><div class="actions-divider"></div></td>
    <td>Current Dependents: <%=getdependentcount()%></td>
  </tr>
  <tr><td>&nbsp;</td></tr>
</table>
<!---------------------------------------Parents Data Start -------------------------------------->
<% if Current.user.marital_status_id == 2  %>
  <div class="btn-group" id="toggle_dependent_editing">
  <% if Current.user.parent_type == 1 %>
    <button type="button" class="btn btn-info locked_active">Parents</button>
    <button type="button" class="btn btn-light unlocked_inactive">In-Laws</button>
  <% else %>
    <button type="button" class="btn btn-light unlocked_inactive">Parents</button>
    <button type="button" class="btn btn-info locked_active">In-Laws</button>
  <% end %>
  </div>
<% else %>
  <button type="button" class="btn btn-info locked_active">Parents</button>
<% end %>
<div class="card-deck">
  <% if dependentExistance("1,2") == true %>
    <%
    rid = [ 1,2 ]
    @parents = dependentDetails(rid)
     #puts @parents.inspect%>
    <% @parents.each do |parent| %>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%=parent.relationship.name%></h5>
        <div class="table-content">
          <table class="table table-borded table-responsive table-striped " id="table-list">
            <thead class="table-dark">
              <tr><th>Name</th><th>Dob</th><th>Action</th></tr>
              </thead>
              <tbody>
              <tr>
                <td><%=parent.dependent_name%></td>
                <td><%=parent.dob%></td>
                <td>
                  <%= link_to edit_dependent_path(parent.id),remote: true do %>
                    <i class="glyphicon glyphicon-edit glyphicon-white"></i> Edit
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <% end %>
  <% else %>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Parents</h5>
        <div class="table-content">
          <%= link_to new_dependent_path,remote: true do %>
            <i class="glyphicon glyphicon-add glyphicon-white"></i> Add
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<!---------------------------------------Parents Data End -------------------------------------->
<!---------------------------------------Spouse Data Start -------------------------------------->
<%#=Current.user.marital_status_id%>
<% if Current.user.marital_status_id == 2%>
  <div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Wife</h5>
      <div class="table-content">
        <%
        rid = [5]
        if dependentExistance(5)== true %>
          <% @spouses = dependentDetails(rid)%>
          <% @spouses.each do |spouse| %>
          <table class="table table-borded table-responsive table-striped " id="table-list">
            <thead class="table-dark">
              <tr><th>Name</th><th>Dob</th><th>Action</th></tr>
              </thead>
              <tbody>
              <tr>
                <td><%=spouse.dependent_name ? spouse.dependent_name : "N/A" %></td>
                <td><%=spouse.dob ? spouse.dob : "N/A"%></td>
                <td>
                  <%= link_to edit_dependent_path(spouse.id),remote: true do %>
                    <i class="glyphicon glyphicon-edit glyphicon-white"></i> Edit
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
          <% end %>
        <% else %>
          <%= link_to new_dependent_path,remote: true do %>
            <i class="glyphicon glyphicon-add glyphicon-white"></i> Add
          <% end %>
      <%end%>
      </div>
    </div>
  </div>
  </div>
<% end %>
<!---------------------------------------Spouse Data End -------------------------------------->
<!---------------------------------------kids Data Start -------------------------------------->
<div class="card-deck">
  <% if dependentExistance("6,7")== true %>
    <%
    rid = [ 6,7]
    @kids = dependentDetails(rid) %>
    <% @kids.each do |kid| %>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%=kid.relationship.name%></h5>
        <div class="table-content">
          <table class="table table-borded table-responsive table-striped " id="table-list">
            <thead class="table-dark">
              <tr><th>Name</th><th>Dob</th><th>Action</th></tr>
              </thead>
              <tbody>
              <tr>
                <td><%=kid.dependent_name%></td>
                <td><%=kid.dob%></td>
                <td>
                  <%= link_to edit_dependent_path(kid.id),remote: true do %>
                    <i class="glyphicon glyphicon-edit glyphicon-white"></i> Edit
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <% end %>
  <% else %>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Kids</h5>
        <div class="table-content">
          <%= link_to new_dependent_path,remote: true do %>
            <i class="glyphicon glyphicon-add glyphicon-white"></i> Add
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<!---------------------------------------kids Data End -------------------------------------->
<script type="text/javascript">
$('#closeDailogParent').click(function(){
	$('#parent_switch_change').modal('hide');
});
$('#toggle_dependent_editing button').click(function(){
	if($(this).hasClass('locked_active') || $(this).hasClass('unlocked_inactive')){
    $('#parent_switch_modal').append('<%= j render partial: "parentswitch.html.erb" %>');
    $('#parent_switch_change').modal('show');
	}else{

	}
	/* reverse locking status */
	$('#toggle_dependent_editing button').eq(0).toggleClass('locked_inactive locked_active btn-info btn-light');
	$('#toggle_dependent_editing button').eq(1).toggleClass('unlocked_inactive unlocked_active btn-light btn-info');
});

</script>
