<% @policy.each do |pol|%>
  <table class="col-lg-7"><tr><td><h3><%= pol.name %></h3></td></tr></table>
<% end %>
<table class="col-lg-7">
  <tr>
    <th><label>Opt In</label></th>
    <th><label>TopUp Amount</label></th>
  </tr>
  <tr>
    <td>
      <div class="btn-group" id="toggle_optin_editing">
        <button type="button" class="btn btn-primary locked_active">OFF</button>
        <button type="button" class="btn btn-secondary unlocked_inactive">ON</button>
      </div>
    </td>
    <td>
      <%= form_with model: @emptopup, url: sign_up_path do |f| %>
        <%= f.hidden_field :employee_id, :value => Current.user.id  %>
        <%= f.hidden_field :marital_status_id, :value => Current.user.marital_status_id  %>
        <%= f.hidden_field :is_opted, :value => "0", id: "optinsurance"  %>
        <% @policy.each do |etp|%>
          <%= f.hidden_field :cycle_id, :value => etp.cycleId  %>
          <%= f.hidden_field :policy_id, :value => etp.policyId  %>
        <% end %>
        <%= f.hidden_field :last_modified_by, :value => Current.user.employee_name  %>
        <div class="form-group">
          <%= f.select "top_up_id", options_from_collection_for_select(TopUp.all, "id", "coverage"),{include_blank: true},  {disabled: true} %>
        </div>
      <% end %>
    </td>
  </tr>
</table>
<script type="text/javascript">
$('#toggle_optin_editing button').click(function(){
	if($(this).hasClass('locked_active') || $(this).hasClass('unlocked_inactive')){
		/* code to do when unlocking */
      $("#top_up_id").prop("disabled", false);
      $("#optinsurance").val(0);
	}else{
		/* code to do when locking */
     $("#top_up_id").prop("disabled", true);
     $("#optinsurance").val(1);
	}
	/* reverse locking status */
	$('#toggle_optin_editing button').eq(0).toggleClass('locked_inactive locked_active btn-secondary btn-primary');
	$('#toggle_optin_editing button').eq(1).toggleClass('unlocked_inactive unlocked_active btn-primary btn-secondary');
});
</script>
