<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HealthInsurance</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"> </script>



    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body id="page-top">
    <div id="wrapper">
      <% if Current.user && Current.user.role_id == 1 %>
        <%= render "layouts/sidebar"%>
      <% elsif Current.user %>
        <%= render "layouts/employeesidebar"%>
      <% end %>
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <%= render "layouts/header"%>
          <div id="flash">
            <% flash.each do |key,value|%>
              <div class="flash alert <%= alert_class(key) %>"><%= value %></div>
            <% end %>
          </div>
          <div class="container-fluid">
            <%= yield %>
          </div>
        </div>
        <%= render "layouts/footer"%>
      </div>
    </div>
  </body>
</html>
